# ---------------------------------------------------------------------------- #
# GITIGNORE                                                                    #
#                                                                              #
# AUTHOR OF THIS FILE: SIMON EUCHNER                                           #
# ---------------------------------------------------------------------------- #
